
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{% static 'image/logo.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\createpost.css' %}">
    <script defer src="{% static 'js\createpost.js' %}"></script>
   <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
 <meta name="description" content="{% block description %}Create a post on Give&Share to share resources with the community. Upload images, add descriptions, and categorize your items easily to connect with those in need.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, create post, share resources, upload images, categorize items, community sharing, resource exchange, donate items, post creation, user-friendly{% endblock %}">
<style>
@media (orientation: landscape) and (max-device-width : 1223px) {
    .sidebar .bottom-images img {
        display:none;
    }
    .sidebar .logo {
        display:none;
    }
}
</style>
</head>
<body>
    <nav class="sidebar" id="menu" aria-hidden="true">
        <button class="close-btn" aria-label="Close menu">×</button>
        <img src="{% static 'image\bg-icone.png' %}" alt="Give&Share logo" class="logo">
        <ul>
            <li><img src="{% static 'image\home.svg' %}" style="width:30px;height:30px"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><img src="{% static 'image\person-male.svg' %}" style="width:30px;height:30px"><a href="{% url 'portfolio' %}">My Portfolio</a></li>
            <li><img src="{% static 'image\search.svg' %}" style="width:30px;height:30px"><a href="{% url 'search' %}">Search</a></li>
            <li><img src="{% static 'image\edit-file.svg' %}" style="width:30px;height:30px"><a href="{% url 'create_post' %}">Make Post</a></li>
            <li><img src="{% static 'image\chat-bubble.svg' %}" style="width:30px;height:30px"><a href="{% url 'chat_page' %}">Chat</a></li>
        </ul>
        <div class="bottom-images">
            <img src="{% static 'image\box1.png' %}" alt="Additional Image 1" style="left:-90px;bottom:0;width:250px;height:250px">
            <img src="{% static 'image\box2.png' %}" alt="Additional Image 2" style="left:-80px;width:250px;height:250px;bottom:-100px">
            <img src="{% static 'image\box3.png' %}" alt="Additional Image 3" style="left:50px;bottom:-60px">
        </div>
    </nav>
    <div class="main-container">
        <div class="navbar">
            <button class="hamburger" aria-label="Open menu" aria-expanded="false" aria-controls="menu">
                ☰
            </button>
        </div>
        <div class="content">
            <h1 style="margin-left:20%;margin-right:20%">Let's create a Post</h1>
            <form class="create-post-form" method="POST" style="margin-left:20%;margin-right:20%" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="6" required></textarea>
            
                <label for="category">Category:</label>
                <select id="category" name="category" required style="max-width:625px">
                    <option value="none">Select a category</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input type="text" id="category" name="category_new" placeholder="Or add a new category">
            
                <label for="images">Upload images:</label>
                <input type="file" id="images" name="images" accept="image/*" multiple>
            
                <div class="image-previews" id="image-previews"></div>
            
                <input type="hidden" id="uploaded-file-ids" name="uploaded_file_ids">
                <input type="hidden" id="deleted-file-ids" name="deleted_file_ids">

                <input class="latitude" type="hidden" id="id_latitude" name="latitude" value="">
                <input class="longitude" type="hidden" id="id_longitude" name="longitude" value="">
                <input type="hidden" name="state" id="state" value="">
                <button type="submit" class="submit-btn">Submit</button>
            </form><br><br><br><BR><BR><BR><BR><BR>
        </div>
    </div>
    {% csrf_token %}
    <script>
document.addEventListener('DOMContentLoaded', function() {
    let uploadedFiles = [];
    let deletedFiles = [];

    document.getElementById('images').addEventListener('change', function(event) {
        const fileList = event.target.files;
        const imagePreviewsContainer = document.getElementById('image-previews');
        // imagePreviewsContainer.innerHTML = ''; // Uncomment to clear previous previews

        for (let i = 0; i < fileList.length; i++) {
            uploadFile(fileList[i]);
        }

        event.target.value = ''; // Clear the input value to ensure re-uploading the same file works
    });

    function uploadFile(file) {
        const formData = new FormData();
        formData.append('file', file);
        formData.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);

        fetch("{% url 'upload_file' %}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const previewContainer = document.createElement('div');
                previewContainer.className = 'image-preview';

                const previewImage = document.createElement('img');
                previewImage.src = URL.createObjectURL(file);
                previewContainer.appendChild(previewImage);

                const deleteButton = document.createElement('button');
                deleteButton.className = 'delete-btn';
                deleteButton.textContent = 'Delete';
                deleteButton.addEventListener('click', function() {
                    deleteFile(previewContainer, data.file_id);
                });
                previewContainer.appendChild(deleteButton);

                document.getElementById('image-previews').appendChild(previewContainer);
                uploadedFiles.push(data.file_id);
                updateUploadedFileIds();
                updateFileCount();
            } else {
                alert(data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function deleteFile(previewContainer, fileId) {
        fetch("{% url 'delete_file' %}?file_id=" + fileId, {
            method: 'POST',
            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                uploadedFiles = uploadedFiles.filter(id => id !== fileId);
                deletedFiles.push(fileId);
                previewContainer.remove();
                updateUploadedFileIds();
                updateDeletedFileIds();
                updateFileCount();
            } else {
                console.error('Error:', data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function updateUploadedFileIds() {
        document.getElementById('uploaded-file-ids').value = uploadedFiles.join(',');
    }

    function updateDeletedFileIds() {
        document.getElementById('deleted-file-ids').value = deletedFiles.join(',');
    }

    function updateFileCount() {
        const fileCount = document.getElementById('image-previews').children.length;
    }

    // Ensure files are included in final form submission
    document.querySelector('.create-post-form').addEventListener('submit', function(event) {
        updateUploadedFileIds();
        updateDeletedFileIds();
});

            
})
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
            function getLocation() {
                console.log("Attempting to get location...");
                if (navigator.geolocation) {
                    console.log("Geolocation supported. Requesting position...");
                    navigator.geolocation.getCurrentPosition(showPosition, showError, {timeout: 10000});
                } else {
                    console.log("Geolocation is not supported by this browser.");
                }
            }

            function showPosition(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
                document.getElementById('id_latitude').value = latitude;
                document.getElementById('id_longitude').value = longitude;
                console.log("Latitude and Longitude set in hidden fields.");
                fetch(`https://api.bigdatacloud.net/data/reverse-geocode-client?latitude=${latitude}&longitude=${longitude}&localityLanguage=en`)
            .then(response => response.json())
            .then(data => {
                const state = data.principalSubdivision;
                document.getElementById('state').value = state;
                console.log("State set in hidden fields.");
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            }

            function showError(error) {
                switch(error.code) {
                    case error.PERMISSION_DENIED:
                        console.log("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.log("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.log("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        console.log("An unknown error occurred.");
                        break;
                }
            }

            getLocation();
        });
</script>
</body>
</html>
{% endblock %}
