
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
<link rel="shortcut icon" href="{% static 'image/logo.png' %}">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VBV26B24W3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VBV26B24W3');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Give&Share</title>
    <link rel="stylesheet" href="{% static 'css\signup.css' %}">
    <meta name="description" content="{% block description %}Join Give&Share today to start sharing and finding resources within your community. Sign up for a secure and seamless experience, and become part of our generous and connected community.{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Give&Share, sign up, create account, community platform, resource sharing, join community, secure registration, user authentication, find resources, share resources{% endblock %}">
<style>
    @media (orientation: landscape) and (max-device-width: 1223px) {
    .container {
        position:relative;
        top:150px
    }
    }
</style>
</head>
<body>
    <div class="container" aria-label="Sign up form container">
        <a href="{% url 'home' %}"><img src="{% static 'image\icone.png' %}" alt="Give&Share logo" class="logo" aria-label="Give&Share logo"></a>
        <h1><b>Let's sign up</b></h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form aria-labelledby="Sign up form" method="post">
            {% csrf_token %}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ form.email }}
            {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password1.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <ul class="password-requirements">
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>

            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in form.password2.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="terms">
                <input type="checkbox" class="form-check-input" id="id_agree_to_terms" name="agree_to_terms" required>
                <label for="terms">I agree with the <a href="{% url 'deal' %}">Terms and Conditions</a></label>
                {% if form.agree_to_terms.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.agree_to_terms.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <button type="submit">Create</button>
        </form>
        <span>or</span>
        <a href="{% url 'login' %}" class="sign-in">Already created? Sign in</a>
    </div>
</body>
</html>
{% endblock %}
